<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title></title>
</head>

<body>


    <div class="container-fuild">
        <div class="row">
            <div class="col-md-4  right-nav p-0">
                <ul class="list-unstyled text-dark p-0 m-0">
                    <li class="">
                        <div class="bg-light text-center">
                            <img src="http://crm-srv:8585/MFkian/image/download.aspx?attribute=entityimage&entity=contact&id=e1116365-f50e-ec11-912e-000c2995bbbf&timestamp=1643023234206"
                                 alt="">
                            <span class="d-block">Reza khaleghi</span>
                        </div>
                    </li>
                    <li class="text-white mt-5">
                        <h4 class="mb-4 text-center" style="cursor: pointer;">
                            مشاهده گزارش ها
                            <i class="fa fa-sort-up"></i>
                        </h4>
                        <ul class="list-unstyled text-center d-none">
                            <li>
                                <a>hello</a>
                            </li>
                            <li>
                                <a>hello</a>
                            </li>
                            <li>
                                <a>hello</a>
                            </li>
                            <li>
                                <a>hello</a>
                            </li>
                            <li>
                                <a>hello</a>
                            </li>
                            <li>
                                <a>hello</a>
                            </li>
                            <li>
                                <a>hello</a>
                            </li>
                            <li>
                                <a>hello</a>
                            </li>
                            <li>
                                <a>hello</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>