@{
    Layout = "_PanelLayout";
}


<div class="text-center bg-info p-3 mt-3 rounded">
    <h2 class="text-light">فاکتور گزاش سوری</h2>
</div>

<div class="row">
    <div class="col-md-6 border-dark p-3 ">
        <div class="card card-body p-0" style="background-color: #43fff2">
            <h4 class="text-center mb-3 mt-3">فیلتر بر اساس ماه</h4>
            <div class="">
                <a class="filter-btn p-3" onclick="FilterChart('1')">فرووردین</a>
                <a class="filter-btn p-3" onclick="FilterChart('2')">اردیبهشت</a>
                <a class="filter-btn p-3" onclick="FilterChart('3')">خرداد</a>
                <a class="filter-btn p-3" onclick="FilterChart('4')">تیر</a>
                <a class="filter-btn p-3" onclick="FilterChart('5')">مرداد</a>
                <a class="filter-btn p-3" onclick="FilterChart('6')">شهریور</a>
                <a class="filter-btn p-3" onclick="FilterChart('7')">مهر</a>
                <a class="filter-btn p-3" onclick="FilterChart('8')">آبان</a>
                <a class="filter-btn p-3" onclick="FilterChart('9')">آذر</a>
                <a class="filter-btn p-3" onclick="FilterChart('10')">دی</a>
                <a class="filter-btn p-3" onclick="FilterChart('11')">بهمن</a>
                <a class="filter-btn p-3" onclick="FilterChart('12')">اسفند</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 bg-dark mt-3 mb-3" style="height:150px">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <canvas id="ChartKharid"></canvas>
        <canvas id="ChartBuy"></canvas>
        <canvas id="ChartMain"></canvas>
    </div>
</div>




@section scripts{
<script>
    window.onload = ()=>{

       var values =[];
       var labels = [];


       $.ajax({
           url:"Reports",
           type:"POST",
           dataType:"JSON"
       }).done(function(response){

           for(let i=0; i < response.length;i++)
           {
               values[i]= response[i].value;
               labels[i] = response[i].month;
           }

           console.log(values)


           const data = {
              labels: labels,
              datasets: [{
                axis: 'y',
                label: 'My First Dataset',
                data: values,
                fill: false,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                ],
                borderWidth: 1
              }]
            };


          const configvertial={
              type: 'bar',
              data,
            };
         const confighorizental = {
              type: 'bar',
              data,
              options:
              {
                indexAxis: 'y',
              }};

          const stackedBar = new Chart(
          document.getElementById('ChartBuy'),
          configvertial);

           const overall = new Chart(
          document.getElementById('ChartKharid'),
          confighorizental);
       });




    }
</script>
}